<h1>Congratulations</h1>
<p>You have successfully deleted the phone number</p>

<p>Would you like to <a href="/contacts">return to contacts</a>? or would you like to <a href="/contacts/new">create a new contact</a>?</p>