<h1>Please update the phone number for contact:</h1>

<form action="/contacts/phones/<%= @phone.id %>" method="post">
	<input name="_method" type="hidden" value="patch">
	<label for="phone_number">Name</label>
	<input id="phone_number" name="phone[number]" tpye="text" value="<%= @phone.number %>">

	<button>Update Number</button>
</form>