<% content_for(:title, 'Edit Phone | Wikipages!') %>

<body background="../../../../assets/swirl_pattern.png">
	<div class="container">
		<h1>Please update the phone number for contact:</h1>

		<%= form_for(@phone) do |p| %>
			<div class="form-group">
				<%= p.label :number %>
				<%= p.text_field :number %>
			</div>
			<%= p.submit(:class => 'btn btn-primary') %>
		<% end %>
	</div>
</body>