<h1>Success!</h1>

<div class="container">
	<img src="/assets/success.jpg" class="img-thumbnail img-responsive" height="500" width="250">
</div>

<p>You have just created a new phone</p>

<p><button><a href="/contacts">Click Here</a></button> to return to contacts.</p>
<p><button><a href="/contacts/<%= @phone.contact.id %>">Click Here</a></button> to view your contact.</p>