<h1>Success!</h1>

<p>You have just created a new phone</p>

<p><button><a href="/contacts">Click Here</a></button> to return to contacts.</p>
<p><button><a href="/contacts/<%= @phone.contact.id %>">Click Here</a></button> to view your contact.</p>