<% content_for(:title, 'Success!') %>

<body background="../assets/swirl_pattern.png">
	<div class="container">
		<h1>Success!</h1>

		<div class="container">
			<img src="/assets/success.jpg" class="img-thumbnail img-responsive" height="600" width="300">
		</div>

		<h3>You have just created a new phone</h3>

		<hr>

		<p><a class="btn btn-primary" href="/contacts">Click Here</a> to return to contacts.</p>
		<p><a class="btn btn-primary" href="/contacts/<%= @phone.contact.id %>">Click Here</a> to view your contact.</p>
	</div>
</body>