<% content_for(:title, 'Edit Contact | Wikipages!') %>
<body background="../../assets/swirl_pattern.png">
	<div class="container">
		<h1>Edit Contact</h1>
		<%= render('layouts/errors', :object => @contact) %>
		<%= render('form') %>
	</div>
</body>