<body background="../../assets/swirl_pattern.png">
	<div class="container">
		<h1>Edit Contact</h1>

		<%= render('layouts/errors', :object => @contact) %>

		<form action="/contacts/<%= @contact.id %>" method="post">
			<input name="_method" type="hidden" value="patch">
			<%= render('form') %>
			<hr>
			<button class="btn btn-primary">Update Contact</button>
		</form>
	</div>
</body>