<% content_for(:title, "Wikipages!") %>
<hr>

<body background="assets/swirl_pattern.png">
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h1>Wikipages!</h1>
				<h3>A web-app designed to collect contact informaiton in one place for many people.</h3>
				<p>Please add your informaiton to our contact list so we can stay in touch! Don't worry, it's safe!</p>
				<!--<p><a class="btn btn-primary" href="/contacts/new" role="button">Create New Contact!</a></p> -->
				<%= link_to 'Create New Contact', new_contact_path, :class => 'btn btn-primary' %>
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">Contacts Added:</h2>
			</div>
			<div class="panel-body">
				<ul style="list-style-type:none">
					<% @contacts.each do |contact| %>
						<div class="well well-sm"><li><a href="/contacts/<%= contact.id %>"><%= contact.name %></a>  - email contact: <%= contact.email %></li></div>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="text-center">
			<a class="btn btn-primary" href="#">Back to Top!</a>
		</div>
	</div>
	<hr>
</body>
