<h1>New Contact</h1>

<%= render('layouts/errors', :object => @contact) %>

<form action="/contacts" method="post">
	<label for="contact_name">Name</label>
	<%= render('form') %>
	<button>Create Contact</button>
</form>