<h1>Success!</h1>

image_path('success.jpg')

<p>You have just created a contact</p>

<p><a href="/contacts/<%= @contact.id %>">View <%= @contact.name %> here</a> or</p>
<p><a href="/contacts">Click Here</a> to return to contacts.</p>